<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="all_logs_file" fileName="C:/Users/devsy/IdeaProjects/demo/PeopleService/output.log">
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.example.demo.dao.classes.CashedPeopleDAO" level="TRACE">
            <AppenderRef ref="all_logs_file"/>
        </Logger>
        <Root level = "DEBUG">
            <AppenderRef ref="all_logs_file"/>
        </Root>
    </Loggers>
</Configuration>